body{
    background-color: rgb(97, 53, 62);

}

button  {
    font-size: 100px;
    background-color: rgb(97, 53, 58);
    border: 2px black solid;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
    height: 200px;
    width: 200px;
    text-align: center;

}
button:hover{
    background-color: rgb(87, 53, 58);
}

#tableG{
    position: absolute;
    left: 32%;
    top: 20%;
}